<section data-ng-controller="CollectionsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="collection.name"></h1>
		<p data-ng-bind="collection.description"></p>
		<img ng-src="collection.images.">hh</img>
	</div>
	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/collections/{{collection._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>