<section data-ng-controller="ShowpolicyController">
<h3>Security</h3>

<p>We are committed to ensuring that your Personal Data is secure. In order to prevent unauthorized access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the Personal Data we collect.</p>
<br>
<p>All the Personal Data you provide us is stored in a secure computing environment protected by secure firewalls to prevent unauthorized access.</p>
<br><p>We control access so that only people who need to access the Personal Data can.  All staff of OpenText are provided security training and are required to adhere to a comprehensive set of security policies, procedures, and standards related to their jobs.</p>
<br>
<p>When you use secure areas of the Website, we use Secure Sockets Layer (SSL) protocol with 128-bit encryption. This means that all the information sent between your computer and our secure computer environment is encrypted or scrambled so that no one can read it in transit. Secure areas of the site have a time-out feature. If you leave your secure session inactive for some time, it times-out to prevent unauthorized access.</p>
<br>
<p>All OpenText products, solutions, and services are designed, developed, and maintained with security in mind, according to the Product Security Assurance Program.</p>

<h3>Privacy</h3>
<p>Your privacy is important to us. This Privacy Policy explains how we collect, store, use and disclose your information when you use soundcloud.com and m.soundcloud.com (together, the “Website”), our mobile and desktop apps (the "Apps") and all related sites, players, widgets, tools, apps, data, software, APIs and other services provided by SoundCloud (the “Services”).</p>
<br>
<p>By using the Website, the Apps or any of the Services, and in particular by registering a SoundCloud® account, you are consenting to the use of your information in the manner set out in this Privacy Policy.</p>
<br>
<p>For your convenience, information relating to our use of cookies and similar technologies is set out in a separate Cookies Policy. The Cookies Policy forms part of the Privacy Policy, and whenever we refer to the Privacy Policy, we are referring to the Privacy Policy incorporating the Cookies Policy.</p>
<br>
<p>Please take some time to read this Privacy Policy (including the Cookies Policy), and make sure you are happy with our use and disclosure of your information.</p>
<br>
<p>If you do not agree to any of the provisions of this Privacy Policy, you should not use the Website, the Apps or any of the Services. If you have any questions or concerns, you can contact usvia our Help Center.</p>
<br>
<p>Please note that this Privacy Policy only applies to the Website, the Apps and the Services (together, the “Platform”). When using the Platform, you may find links to other websites, apps and services, or tools that enable you to share information with other websites, apps and services. SoundCloud is not responsible for the privacy practices of these other websites, apps and services and we recommend that you review the privacy policies of each of these websites, apps or services before connecting your SoundCloud® account or sharing any personal data.</p>
</section>