<title>Web Tech</title>
<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<br>
		<div class="row">
			<p class="lead">
				SE3316 Web Tech Lab5
			</p>
		</div>
	</div>
	<div>
		<h2>About this Web app</h2>
		<p>This is a web application where you can create  of images from NASA</p>
		<ul>
			<li>
				Click
				<em>Signup</em>
				to get started.
			</li>
			<li>
				Browse collections.
			</li>
			<li>
				Create your collections.
			</li>
			<li>
				Edit your collections.
			</li>
			<li>
				Have fun...
			</li>
		</ul>
	</div>
	
	<br>Enjoy,
	<br>Iris Zhou.
	
<div id="collection_display">
	<input type ="text" placeholder="search..." data-ng-model="keyword" id="keyword">
	<button data-ng-click="search()" >search</button>
	<br><br>
	<div>
	<img ng-repeat="imgurl in imgurls" ng-src={{ imgurl }} height=240px width=240px></img>
	</div>
</div>
</section>